

<div id="page-content">

    <div class = "container" id="home-container">


        <div class="jumbotron bg-dark text-light p-5 text-center" >
                <h1 class="display-4">Alpha Blog</h1>
                <hr>
                <p>Go to My Website</p>
                <a href="#" class="btn btn-success btn-lg">Sign up!</a>
        </div>
    </div>

</div>

<footer id="sticky-footer" class="footer mt auto py-4 bg-dark text-white">
  <div class="foot text-center">
    <span class="text-muted">Copyright &copy; Your Website.</span>
  </div>
</footer>

